.navbar1{
    background-color: 
    #4F8F45;
   

    
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	
}

.header1{
    background-image: url("../images//MicrosoftTeams-imageAboutBackground.png");
	
	height: 770px;
	
	
    padding-top: 0px;
	/* padding-bottom: 5rem; */
    background-size: cover;
   
    background-repeat: no-repeat;
    
	
	/* background-color: #f6f7f9; */
	font-family: 'Metropolis';
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 55px;
	
}

.header1 .container .text-container{
    margin-top: 90px;
}

.header2{
    background-color: #fff;
}


.h2-large {
	margin-bottom: 1.25rem;
	color: #000;
	/* position: absolute; */
	width: 600px;
	/* height: 144px; */
	left: 160px;
	top: 244px;
	
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	/* or 104% */
	
	
	
font-weight: 600;
font-size: 46px;
line-height: 48px;



}


.header2  .text-container{

   padding-top: 0;
   margin-top: 0;
    

   
}

.text-container .text-start{
  
}

.container .text-container .h1-large {
    margin-bottom: 1.25rem;
    color: #fff;
    /* position: absolute; */
    /* width: 600px; */
    /* height: 144px; */
    left: 160px;
    top: 244px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
}

.container .row .imgcontainer img{
    margin-top: 180px;
    width: 700px;
}

.containerFaq{
    
    margin-top: 15rem;
   
    height: 274px;
    
    background-image: url("../images/MicrosoftTeams-imageFaqBackground.png");
    /* background: #F4AE34; */
    border-radius: 18px;
}

.card-img-overlay .card-text{
    padding-top: 60px;
    text-align: center;
    color: #fff;
    font-family: 'Metropolis';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
}

.header .row .surveyoptimus {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    font-size: 16px;
    text-align: start;
    line-height: 22px;
    color: #000000;
    opacity: 0.6;
}




.header2 .text-container ul {
   
    align-items: center;
    text-align: center;
        list-style-type: none;
    }


    .header2 .text-container ul li .fa{
width: 30px;
align-items: center;
height: 30px;
padding: px 5px 5px 5px;
border-radius: 20px;
        /* background-color: #4F8F45 !important; */
        /* fill: #4F8F45 !important; */
        color: white !important;
    }


.header2  .image-container .img-fluid{
    margin-top: 90px;
    width: 115.18px;
    
}


@media (max-width: 400x){
.container .text-container .h1-large {
    width: 0px;
    padding-left: 0px;
}
}

@media (max-width: 530px){
.header {
    margin-top: 0px !important;
}
}

  @media (min-width: 1200px){
.header .image-container img {
    position: absolute;
    /* top: -80px; */
    left: 170px;
    width: 400px;
    max-width: none;
}
}


/*****************
FAQ
**********************/
.navbar3
{
    background: #F4AE34 !important;
    
}

.navbar3 .nav-item .Faq{
    background: #4F8F45;
   
}

.header3{
    padding-top: 4rem !important; 
	padding-bottom: 4rem !important;
    height: 327px;
	text-align: center;
background-image: url("../images/MicrosoftTeams-imageFaqBackground.png");
    /* background: #F4AE34 !important; */
}

.header4{
    background-color: #fff !important;
}

.header4 .container .row .image-container{
    margin-bottom: 50rem;
    margin-top: -100px;
}

.surveyoptimus .h2survey{
    font-size: 20px;
    font-family: 'Metropolis';
}

.header4 .text-container  .text-black{
    font-size: 20px;
    font-family: 'Metropolis';
    color: #000 !important;
}

.header4 .container .row .text-container .text-black {
    color: #000 !important;
    margin-top: 40px;
    
}


  .text-black {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
   
   
    
}



.accordion{
    background-color: #fff !important;
}

.accordion-button{
   padding: 20px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
box-shadow: 0px 4px 28px rgba(16, 52, 98, 0.05);
border-radius: 18px;
}

.accordion-wrapper .card-header {
    margin-bottom: 0;
    background: 0 0;
    border: 0;
    padding: 0.9rem 1.3rem 0.85rem;
}

.accordion-wrapper .card {
    margin-bottom: 1.25rem;
}

.accordion-wrapper .card-header button.collapsed {
    color: #343f52;
}

.accordion-wrapper .card-header button, .collapse-link, .nav-tabs .nav-link {
    font-size: .9rem !important;
}

.accordion-wrapper .card-header button.collapsed:before {
    content: "\e92d";
}
.accordion-wrapper .card-header button:before {
    font-family: Unicons;
    position: absolute;
    left: 1.3rem;
    content: "\e932";
    font-size: 1.15rem;
    font-weight: 400;
    width: 1rem;
    margin-top: -0.25rem;
    margin-left: -0.3rem;
    display: inline-block;
    color: #3f78e0;
}
@media (min-width: 992px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    
    }}
    
    @media (min-width: 1200px){
        .container {
            max-width: 1440px;
        }
    }
    
    /* @media (min-width: 1400px)
    {
        .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1440px;
        }
    }
    @media (min-width: 1200px)
    {
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 1140px;
        }
    }
    @media (min-width: 992px)
    {
        .container, .container-lg, .container-md, .container-sm {
            max-width: 960px;
        }
    }
    @media (min-width: 768px)
    {
        .container, .container-md, .container-sm {
            max-width: 720px;
        }
    }
    @media (min-width: 576px)
    {
        .container, .container-sm {
            max-width: 540px;
        }
    } */
    
    @media (max-width: 991px)
    
    {
    
        .container .row .imgcontainer img{
         margin-top: -20px;
            margin-bottom: 20px;
            height: 400px;
         }
    
    
        .container .row .image-containerhome img{
            display: none;
    
        }
    
        .container .row .text-container a{
            display: none;
        }
    }


    @media (max-width: 992px) {

        .header4 .container .row .image-container{
            display: none;
            
        }
    }
    @media (max-width: 530px)
    {
.header1{
    height: 600px;
}
        .container .row .imgcontainer img{
            display: none;
         }

         .container .text-container .h1-large {
            width: 400px;
            padding-left: 20px;
         }
        
         .header{
            margin-top: 40px;
         }

         .header .text-container{
            padding: 20px;
         }

         .container .rectangleAbout{
           padding: 20px;
         }

         .container .containerFaq {
           
            margin-top: 8rem;
            
         }

         .container .containerFaq .card-img-overlay .card-text{

            padding:0px  0px 0px 0px;
            font-size: 26px;
         }
    }
    

    @media (max-width: 400px)
    {
        
        .container .row .imgcontainer img{
            display: none;
         }

         .accordion .img-overlay{
            padding: 0px 0px 0px 20px;
        
         }
        
    } 
    
    
    @media (max-width: 350px)
    {
        .container .row .text-container  img{
            width: 250px;
            margin-top: 40px;
    
        }
      .accordion .img-overlay  .accordion-flush .accordion-item {
            margin: 120px 0px;
            padding: 20px 0px;
            height: 40px;
        }
       
    

        .accordion .img-overlay .accordion-flush .accordion-item .accordion-button {
            border-radius: 0;
            font-size: 12px;
        }
    } 


    
    @media (max-width: 300px)

    
    {

      
            .header4 .container .row .text-container .text-black {
                width: 0x;
                font-size: 18px;
            
        }

        .header4 .container .row .text-container .surveyoptimus{
            width: 0x;
            font-size: 18px;
        
    }
      
.container .text-container h1 {
    width: 200px;
    
}
        .container .row .text-container  img{
            width: 250px;
            margin-top: 40px;
    
        }
    
        .MindblowingContainer .container .row .MindblowingImag{
            width: 50px;
            margin-top: 40px;
    
        }
    
        
    
        
    } 
    
    
    
    
    @media  (max-width:530px){
    
        .header44{
            height: 800px;
        }
    
    /* .container .text-container {
        height: 300px;
        padding-top: 0rem;
      } */
    
    .content{
        margin-top: -30px;
    }
    
      .text-container  .p-large{
        padding: 0px 20px;
    text-align: left;
    
      }
    
      .container .row .text-container  img{
        width: 300px;
        margin-top: 40px;
    
    }
    
    .MindblowingContainer .container .row .MindblowingImag{
    
        padding-left: 40px;
        align-items: center;
    }
    .MindblowingContainer .container .row .image-container img{
        
        padding: 40px;
    align-items: center;
    }
    
    .Survey{
        padding: 50px 40px;
    }
    
    }
    
    
    