/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Services
- Details 1
- Details Modal
- Details 2
- Projects
- Testimonials
- Pricing
- Invitation
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f9f9f9
- Buttons - red #ff5574
- Buttons - blue #6168ff
- Headings text - black #222222
- Body text - dark gray #5e6576
******************************************/


/**************************/
/*     General Styles     */
/**************************/
/* @font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Bold.otf") format("opentype");
	font-weight: bold;
} */
@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Regular.otf") format("opentype");
}
/* @font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Medium.otf") format("opentype");
} */

body,
html {
    width: 100%;
	height: 100%;
	font-family: "Metropolis", sans-serif !important;
}

body, p {
	color: #5e6576; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

/* h1 {
	color: #222222;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #2F2F2F;;
	font-weight: 700;
	font-size: 46px;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: #222222;
	
	
	
	
height: 44px;
left: 419px;
top: 1821px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

text-align: center;

color: #000000;

opacity: 0.6;
}

h4 {
	font-family: 'Metropolis';
	color: #222222;
	font-weight: 300;
	font-size: 1rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: #222222;
	font-weight: 700;
	font-size: 1.85rem;
	line-height: 1.23rem;
}

h6 {
	color: #222222;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
} */

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

/* .testimonial-text {
	font-style: italic;
} */

/* .testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
} */

/* .navbar.container .navbar-brand {
	width: 131px;
	height: 50px;
	top: 12px;
	left: 165px;
} */

.navbar .logo-image img {
  
    height: 55px !important;
	width: 160px !important;
	height: 50px;
	top: 12px;
	left: 165px;
}



.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #5e6576;
	text-decoration: underline;
}

a:hover {
	color: #5e6576;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #6168ff;
}

.bg-gray {
	background-color: #f9f9f9;
}

.section-title {
	display: inline-block;
	margin-bottom: 0.75rem;
	padding: 0.125rem 1.75rem;
	border-radius: 30px;
	background-color: #ffe7eb;
	color: #ff5574;
	font-weight: 600;
	font-size: 0.875rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ff5574;
	border-radius: 30px;
	background-color: #ff5574;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #ff5574; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	
	
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #ff5574; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ff5574;
	border-radius: 30px;
	background-color: #ff5574;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #ff5574; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-select,
.form-control-textarea {
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #5e6576;
	border-radius: 8px;
	background-color: #ffffff;
	color: #5e6576;
	font-size: 0.875rem;
	line-height: 1.5rem;
	/* -webkit-appearance: none;  */
	/* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.5rem;
	color: #5e6576;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 98% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
	border: 1px solid #000000;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
	border: 1px solid #000000;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #ff5574;
	border-radius: 30px;
	background-color: #ff5574;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #ff5574;
	background-color: transparent;
	color: #ff5574;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	/* width: 1440px; */
	background: #103462;;
	font-weight: 600;
	font-size: 0.875rem;
	/* height: 760px; */
	line-height: 0.875rem;
	/* box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05); */
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 133px;
	height: 30px;
}

.navbar .container a i{
	display: none;
	
	color: white;
}


.navbar .logo-text {
	color: #fff;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

/* .navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #6168ff;
} */

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #6168ff;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #d1d1d1;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.navbar .btn-solid {
	border-color: #d8b24a;
	background-color: #d8b24a;
	padding: 15px 25px;
	border-radius: 10px;
	color: #000000;
}

.navbar span  .btn-solid{
	list-style-type: none;
	text-decoration-style: none;
	text-decoration: none;
}

.navbar .btn-solid-sm:hover {
	background-color: white;
	color: #000000;
}


/******************/
/*     Header     */
/******************/
.headerhome {
	height: 870px;
	padding-top: 8rem;
	padding-bottom: 5rem; 
 text-align: center;
background: #103462;

}


.header4{
	margin-top: 4rem;
	
}

.header4 .container .row{
	/* width: 1440px; */
}
.header4 .container .text-container .surveyoptimus { 
	width: 500px;
font-size: 18px;
}


.header4 .container .text-container .SurveyOptimusImg1 { 
	width: 500px;
	/* width: 100%; */
	/* height: 100%; */
font-size: 18px;
}

.headerhome .container{
	height: 760px;
	margin-top: -40px;
	/* left: 300px; */
	background-size: cover;
background-image: url("../images/MicrosoftTeams-image44.png") ;

background-size: auto;
	

background-repeat: no-repeat;

}
 /* .header .container .row{
	margin-top: -70px;
} */


.header .h1-large {
	margin-bottom: 1.25rem;
	color: #fff;
	/* position: absolute; */
	/* width: 600px; */
	/* height: 144px; */
	left: 160px;
	top: 244px;
	
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	/* or 104% */
	
	
	
font-weight: 600;
font-size: 46px;
line-height: 48px;



}

.h1-large .text-yellow{
	color: #d8b24a;
	font-weight: 800;
	/* font-size: 46px; */
	font-family: Metropolis;
}

 .p-large {
	margin-top: 50px;
	margin-bottom: 80px;
  
	/* margin-bottom: 2.75rem; */
	font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* width: 48px;
height: 66px; */
top: 440px;
left:160px;



color: #FFFFFF;

opacity: 0.6;
}

.header .btn-solid-lg {
	display: block;
	margin-bottom: 1.75rem;
}

.header .quote {
	display: block;
	color: #222222;
}

.header .quote i {
	margin-right: 0.5rem;
	color: #222222;
}

.header .text-container {
	margin-bottom: 5rem;
}

.container .text-container{
	/* height: 613px; */
	/* padding-top: 8rem; */
	
}

/***************
FormDesign
*****************/
a {
    text-decoration: none;
}
.login-page {
	
	font-family: 'Metropolis';
  
  
	height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

/* 
.login-page .container{
	width: 1440px;
} */

.form-right i {
    font-size: 100px;
}

.row .surveyoptimus{
	font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
margin-top: 0px;
font-size: 36px;
text-align: start;
line-height: 22px;



color: #000000;

opacity: 0.6;
}

 .SurveyOptimusImg{
	
height: 110px;
/* left: 160px; */
top: 886px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 5px;
/* or 120% */


color: #2F2F2F;
}


.SurveyOptimusImg1{

	/* width: 100px; */
	

/* width: 594px; */
height: 210px;
/* left: 160px; */
top: 1159px;

background-color: #d1d34b;
border-radius: 18.5625px;
}


 /* .btn-black .btn-blue{
	padding: clamp(5.0275rem, 8.3775rem + 4.5833vw, 3rem) !important;

} */
 .submitBtn{

	display: flex;
flex-direction: row;

justify-content: space-between;
align-items: center;
/* padding: 24px 32px; */
gap: 16px;

/* position: absolute;
width: 198px;
height: 72px;
left: 855px;
top: 1396px; */



}


.btn-blue{
	
	background-color: #4868AD;
	color: white;
padding: 15px 16px;
border-radius: 10px;
}

.btn-black{
	background-color: #000000;
	color: white;
	border-radius: 10px;
padding: 15px 16px;
}

/* .submitBtn .btn-blue{
	background: #4868AD;
	border-radius: 10px;
	gap: 16px;
	color: #fff;
	padding: 24px, 32px, 24px, 32px;
} */

/* .submitBtn .btn-primary{
	background: #000000;
	border-radius: 10px;
	border: #000000;
	padding: 24px, 32px, 24px, 32px;
	gap: 16px;
	color: #fff;
} */

.form-control{
	border: none;
	height: 70px;

background: #F2F2F2;
border-radius: 10px;
}

/******************
content
***********/

.content{
	/* margin-top: 8rem;
	padding-top: 8rem; */
	/* padding-bottom: 5rem; */
	text-align: center;
	background: #F2F2F2;
	/* padding: 8rem 26rem; */
}

.display-3 {
		
		
	/* width: 750px; */
	font-family: 'Metropolis';
	
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	
	/* or 138% */
	
	
	
	color: #000000;
	
	opacity: 0.6;
		}


/***************
Download Application
*****************/

/************
Survey
****************/

.Survey{

	padding-top: 8rem;
	padding-bottom: 5rem;
	text-align: center;
	
	/* background-color: #f6f7f9; */
	font-family: 'Metropolis';
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 55px;
}

.Survey .surveyoptimus{
	font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-align: center;

color: #000000;

opacity: 0.6;
}

.Survey h3{
	
	


	/* width: 1200px; */
height: 66px;
left: 419px;
top: 3746px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-align: center;

color: #000000;

opacity: 0.6;
}



.Survey span{
	color: #4F8F45;
}


/*********

**********/


/********************/
/*     Services     */
/********************/
.cards-1 {
	padding-top: 5rem;
	padding-bottom: 2.5rem;
}

.cards-1 .card {
	margin-bottom: 5rem;
	padding: 3rem 2rem;
	border: 1px solid #5e6576;
	border-radius: 20px;
	background-color: transparent;
}

.cards-1 .card-icon {
	width: 90px;
	height: 90px;
	margin-bottom: 1.875rem;
	text-align: center;
	background-size: 90px 90px;
}

.cards-1 .card-icon.blue {
	background: url('../images/services-icon-bg-blue.png') center center no-repeat;
}

.cards-1 .card-icon.yellow {
	background: url('../images/services-icon-bg-yellow.png') center center no-repeat;
}

.cards-1 .card-icon.red {
	background: url('../images/services-icon-bg-red.png') center center no-repeat;
}

.cards-1 .card-icon .fas,
.cards-1 .card-icon .far {
	margin-right: 0.75rem;
	color: #ffffff;
	font-size: 2rem;
	line-height: 98px;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 1.125rem;
}

.cards-1 .card-body p {
	margin-bottom: 1.125rem;
}

.cards-1 .list-unstyled {
	margin-bottom: 0;
}

.cards-1 .list-unstyled .fas {
	font-size: 0.875rem;
	line-height: 1.625rem;
}

.cards-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}


/*********************/
/*     Details 1     */
/*********************/
.basic-1 {
	padding-top: 2.5rem;
	padding-bottom: 5rem;
}

.basic-1 .image-container {
	margin-bottom: 4rem;
}

.basic-1 h2 {
	margin-bottom: 1.875rem;
}

.basic-1 h2 span {
	font-weight: 400;
}

.basic-1 p:last-of-type {
	margin-bottom: 2rem;
}

.basic-1 .btn-solid-reg {
	cursor: pointer;
}


/*************************/
/*     Details Modal     */
/*************************/
.modal-dialog {
	max-width: 1150px;
	margin-right: 1rem;
	margin-left: 1rem;
	pointer-events: all;
}

.modal-content {
	padding: 2.75rem 1.25rem;
}

.modal-content .btn-close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal-content .image-container {
	margin-bottom: 3rem;
}

.modal-content img {
	border-radius: 6px;
}

.modal-content h3 {
	margin-bottom: 0.5rem;
}

.modal-content hr {
	width: 44px;
	margin-top: 0.125rem;
	margin-bottom: 1.25rem;
	margin-left: 0;
	height: 2px;
	border: none;
	background-color: #53575a;
}

.modal-content h4 {
	margin-top: 2rem;
	margin-bottom: 0.625rem;
}

.modal-content .list-unstyled {
	margin-bottom: 2rem;
}

.modal-content .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.modal-content .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.modal-content .btn-solid-reg {
	margin-right: 0.75rem;
}

.modal-content .btn-outline-reg {
	cursor: pointer;
}


/*********************/
/*     Details 2     */
/*********************/
.counter {
	padding-top: 5rem;
	padding-bottom: 9.75rem;
}

.counter .text-container {
	margin-bottom: 4rem;
}

.counter h2 {
	margin-bottom: 1.875rem;
}

.counter h2 span {
	font-weight: 400;
}

.counter p {
	margin-bottom: 4rem;
}

.counter .counter-container {
	text-align: center;
}

.counter .counter-cell {
	margin-bottom: 3rem;
	color: #6168ff;
}

.counter .counter-cell.red {
	color: #ff5574;
}

.counter .purecounter {
	margin-bottom: 1.5rem;
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 2rem;
}

.counter .purecounter:after {
    content: "+";
	margin-left: 0.5rem;
}

.counter .counter-info {
	font-size: 0.875rem;
	line-height: 1.5rem;
}


/********************/
/*     Projects     */
/********************/
.filter {
	padding-top: 9.25rem;
	padding-bottom: 5.625rem;
	text-align: center;
}

.filter h2 {
	margin-bottom: 2.625rem;
}

.filter .button-group {
	margin-bottom: 1rem;
}

.filter .button {
	margin-bottom: 0.75rem;
	border: none;
	background-color: transparent;
	color: #222222;
	font-weight: 600;
	font-size: 1rem;
}

.filter .button:hover,
.filter .button.is-checked {
	color: #ff5574;
}

.filter .grid {
	margin-right: auto;
	max-width: 351px;
	margin-left: auto;
}

.filter .element-item {
	margin-bottom: 3rem;
}

.filter .element-item a {
	text-decoration: none;
}

.filter .element-item img {
	margin-bottom: 1.125rem;
	border-radius: 8px;
	border: 1px solid #5e6576;
}

.filter .element-item p {
	text-align: left;
}

.filter .element-item p strong {
	color: #222222;
}


/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	padding-top: 9.75rem;
	padding-bottom: 4.5rem;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 86%;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -12px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -12px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .card {
	border: none;
}

.slider-1 .card-body {
	padding: 0;
}

.slider-1 .quotes {
	margin-bottom: 3rem;
	width: 64px;
}

.slider-1 .testimonial-text {
	margin-bottom: 1.875rem;
	color: #838a9c;
	font-style: italic;
	font-size: 1.5rem;
	line-height: 2.25rem;
}

.slider-1 .testimonial-image {
	display: inline-block;
	width: 70px;
	margin-bottom: 0.875rem;
	border-radius: 50%;
}

.slider-1 .testimonial-author {
	margin-bottom: 0.125rem;
	color: #222222;
	font-weight: 700;
	font-size: 1.125rem;
}


/********************/
/*     Pricing     */
/********************/
.cards-2 {
	padding-top: 5rem;
	padding-bottom: 2.25em;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .h2-heading span {
	font-weight: 400;
}

.cards-2 .card {
	margin-bottom: 5rem;
	padding: 4rem 1rem;
	border: 1px solid #5e6576;
	border-radius: 20px;
	background-color: transparent;
	text-align: center;
}

.cards-2 .card-body {
	padding: 0;
}

.cards-2 .card-title {
	margin-bottom: 2rem;
}

.cards-2 .card-title .decoration-lines {
	width: 30px;
	margin-bottom: 0.25rem;
}

.cards-2 .card-title .decoration-lines.flipped {
	transform: scaleX(-1);
}

.cards-2 .card-title span {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	color: #222222;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

.cards-2 .card-body .list-unstyled {
	margin-bottom: 3rem;
}

.cards-2 .card-body .list-unstyled li {
	margin-bottom: 0.625rem;
}

.cards-2 .card-body .price {
	margin-bottom: 3rem;
	color: #222222;
	font-weight: 700;
	font-size: 3rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}


/**********************/
/*     Invitation     */
/**********************/
.basic-2 {
	padding-top: 3rem;
	text-align: center;
}

.basic-2 .text-container {
	padding: 5rem 1.5rem 5rem 1.5rem;
	border-radius: 28px;
	background: url('../images/invitation-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-2 h4 {
	margin-bottom: 2rem;
	color: #ffffff;
}

.basic-2 .p-large {
	margin-bottom: 0;
	color: #ffffff;
}


/*******************/
/*     Contact     */
/*******************/
.form-1 {
	padding-top: 9.25rem;
	padding-bottom: 8.5rem;
	text-align: center;
}

.form-1 .h2-heading {
	margin-bottom: 1.125rem;
	text-align: center;
}

.form-1 .h2-heading span {
	font-weight: 400;
}

.form-1 .p-heading {
	margin-bottom: 0.375rem;
}

.form-1 .list-unstyled {
	margin-bottom: 3.5rem;
}

.form-1 .list-unstyled .fas {
	color: #6168ff;
}


/******************/
/*     Footer     */
/******************/
/* .footer {
	position: relative;
	padding-top: 8.75rem;
	padding-bottom: 7.5rem;
	text-align: center;
} */



footer .container .row{
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.nav{
	display: flex;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
list-style: none;

justify-content: space-evenly;
padding-left: 0px;
margin-left: -30px;
margin-right: 170px;
}

.nav a i{
	color: #5daed5;
	
  }
  .nav  a{
	font-size: 1rem;
  }


/* .footer .decoration-city {
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer div[class*="col"] {  
	
	position: relative;
}

.footer h4 {
	margin-bottom: 2rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #222222;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #222222;
} */


/*********************/
/*     Copyright     */
/*********************/
/* .copyright {
	padding-top: 1.75rem;
	border-top: 1px solid #d0dae2;
	text-align: center;
}

.copyright a {
	text-decoration: none;
}

.copyright .list-unstyled,
.copyright .statement {
	opacity: 0.7;
}

.copyright .list-unstyled li {
	margin-bottom: 0.75rem;
} */


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #44434a; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #1d1d21;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 9rem;
	padding-bottom: 5rem;
	background-color: #f9f9f9;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f9f9f9;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #6168ff;
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	
	
	/* Header */
	/* .header {
		padding-top: 122px;
	} */

	.header .h1-large {
		font-size: 2.75rem;
		line-height: 3.5rem;
	}
	/* end of header */

	.Survey h3{
		width: 0;
	}



	/* Details 2 */
	.counter .counter-container {
		text-align: left;
	}
	
	.counter .counter-cell {
		display: inline-block;
		margin-right: 3rem;
		vertical-align: top;
	}
	/* end of details 2 */


	/* Contact */
	.form-1 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


@media (max-width: 950px) {
	/* .form-check-label{
		font-size: 10px;
	}

	.responsiveDescription{
		margin-top: 40px;
	}
	.ImageContainer img{
		margin-top: 40px;
	} */

	/* .btn-groups{
		width: 100%;
	}
	.btn-groups .btn-blue{
width: 230px;
	}

	.btn-black{
		width: 230px;
	} */

	
	.btn-groups .btn-blue{
		padding: 0px 10px;
		width: 100px;
	}
	.btn-groups .btn-black{
		padding: 0px 10px;
		width: 100px;
		height: 50px;
	}
}
	

/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background: #103462;;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		/* padding-top: 13rem; */
		text-align: left;
	}

	.header .text-container {
		margin-bottom: 0;
	}

	.header .btn-solid-lg {
		margin-right: 1.5rem;
		margin-bottom: 0;
	}

	.header .btn-solid-lg,
	.header .quote {
		display: inline-block;
	}
	/* end of header */



	/* Services */
	.cards-1 .card {
		display: inline-block;
		width: 298px;
		vertical-align: top;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of services */

	/*survey*/

	.badgessvg{

		padding-top: 1.75rem;
		/* height: 700px; */
		/* box-shadow: none;
		transition: all 0.2s; */
	}
	
	 .col-lg-3 {
		
		flex: 0 0 auto;
		margin-bottom: 5rem;
			
		
	}

	
	
	

	/* .badgessvg .svg-bg.svg-bg-lg {
		opacity: 0.1;

left: 20.65px;
		
		
		left: 273px;
top: 3917px;



	} */
	
	.badgessvg .svg-bg {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		/* -webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		 */
		border-radius: 20px;


		width: 100px;
		height: 90px;
		

		
		
opacity: 0.1;
border-radius: 20px;
	}


	.badgessvg .svg-bg .svg-inject{
		width: 50px;
		/* fill: #000000 !important;
fill: black; */
	}

	.badgessvg .svg-bg .bg-yellow {}



	.badgessvg .rounded-xl {
		
left: 20.65px;
top: 15.75px;


border-radius: 0.4375px;
		
	


		
	}

	.svg-bg {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	

		
	  }
	  
	  .rounded-xl, .rounded-xl img, .rounded-xl > .plyr {
		border-radius: 20px !important;
		
		

		
		
/* opacity: 0.1; */

		/* background-color: #F4AE34 !important; */
	  }

	/* Details 1 */
	.basic-1 .image-container {
		margin-bottom: 0;
	}

	.basic-1 .text-container {
		margin-top: 1.25rem;
	}

	.basic-1 h2 {
		width: 23rem;
	}
	/* end of details 1 */


	/* Details Modal */
	/* Stops body and navbar shift on modal open */
	body.modal-open {
		overflow-y: scroll !important;
		padding-right: 0 !important;
	}

	body.modal-open .navbar {
		padding-right: 0 !important;
	}
	/* end of stops body and navbar shift on modal open */

	.modal {
		padding-right: 0 !important;
	}

	.modal-dialog {
		margin-top: 120px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.modal-content .image-container {
		margin-bottom: 0;
	}
	/* end of details modal */
	
	
	/* Details 2 */
	.counter .text-container {
		margin-bottom: 0;
	}

	.counter .counter-cell {
		display: inline-block;
		vertical-align: top;
	}
	/* end of details 2 */


	/* Projects */
	.filter .button {
		margin-right: 0.25rem;
		margin-left: 0.25rem;
	}
	
	.filter .grid {
		max-width: 750px;
	}

	.filter .element-item {
		display: inline-block;
		width: 351px;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
		vertical-align: top;
	}
	/* end of projects */


	/* Testimonials */
	.slider-1 .swiper-container {
		width: 92%;
	}

	.slider-1 .swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}
	
	.slider-1 .swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.slider-1 .details {
		display: flex;
		align-items: flex-start;
	}
	
	.slider-1 .text {
		flex-direction: column;
	}

	.slider-1 .testimonial-author {
		margin-top: 0.625rem;
	}
	
	.slider-1 .testimonial-image {
		margin-right: 1.125rem;
	}
	/* end of testimonials */


	/* Pricing */
	.cards-2 .card {
		display: inline-block;
		width: 298px;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of pricing */


	/* Invitation */
	.basic-2 .text-container {
		padding: 8rem;
	}
	/* end of invitation */


	/* Footer */
	.footer h4 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */




/* Min-width 1200px */
@media (min-width: 1200px) {

	.navbar4 .navbar-expand-lg{
		justify-content: space-evenly;
	}
	.display-3 {
		
		

font-family: 'Metropolis';
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

/* or 138% */



color: #000000;

opacity: 0.6;
	}
	
	/* General Styles */
	.container {
		/* max-width: 1440px; */
	}
	/* end of general styles */
	
	/* .container1{
		background:  #EDF4EC;
		overflow: hidden;
		padding-top: 2.25rem;
		padding-bottom: 2.25rem;
	} */

	/* .container1 .text-container img{
		
		margin: 40px;
		align-items: center;
		width: 500px;
		padding-right: 60px;
		
	} */

.MindblowingContainer{
	/* width: 1440px;
	height: 700px;
	top: 2813px;
	left: 0px; */
	
	height: 700px;
	background:  #EDF4EC;
		overflow: hidden;
		/* padding-top: 1.25rem;
		padding-bottom: 1.25rem; */
	/* //background:  #EDF4EC; */
	background-image: url("../images//MicrosoftTeams-bakgroundmind.png");

	
}

.MindblowingContainer .container .MindblowingImag img {
	margin-top: 10rem;

	/* margin-top: 150px; */
	
	
	top: 3037px;
	left: 160px;
}


/* .MindblowingContainer .container .image-container {
	margin-top: 5rem;

	
	
	top: 3037px;
	
} */

.MindblowingContainer .container .row{
	padding-top: 0px;
	margin-top: 0px;
}



/***************About Us Style*********************/
	/* Header */

	.globalPadding1 {
		padding: 8rem 10rem;
	}
	.header .row{
		/* padding-bottom: 11.5rem; */
		margin-top: 122px;
	}

	.header .row .image-container {
		/* position: relative;
		top: 60px; */
		/* margin-top: 300px; */
	}
	
	.header .image-container img {
		/* position: absolute; */
		top: 0px;
		left: 200px; 
		/* width: 560px; */
		max-width: none;
	}
	/* end of header */


	/* Services */
	.cards-1 .card {
		width: 342px;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .image-container {
		margin-right: 3.5rem;
	}

	.basic-1 .text-container {
		/* margin-top: 5rem; */
		margin-left: 2.75rem;
	}
	/* end of details 1 */


	/* Details Modal */
	.modal-content {
		padding-right: 2rem;
		padding-left: 2rem;
	}
	/* end of details modal */


	/* Details 2 */
	.counter {
		overflow: hidden;
		padding-top: 9rem;
	}

	.counter .image-container {
		position: relative;
	}
	
	.counter .image-container img {
		position: absolute;
		top: -60px;
		left: 30px;
		width: 900px;
		max-width: none;
	}
	/* end of details 2 */


	/* Projects */
	.filter .grid {
		max-width: 1120px;
	}
	/* end of projects */


	/* Testimonials */
	.slider-1 .swiper-button-prev {
		left: -24px;
	}
	
	.slider-1 .swiper-button-next {
		right: -24px;
	}
	/* end of testimonials */


	/* Pricing */
	.cards-2 .card {
		width: 342px;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	/* end of pricing */


	/* Invitation */
	.basic-2 .text-container {
		padding: 8rem 12rem;
	}
	/* end of invitation */


	/* Contact */
	.form-1 form {
		width: 860px;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of contact */


	/* Footer */
	.footer .decoration-circles {
		left: 0;
	}

	.widget .navsocial li a {
		display: block;
		padding: 0;
		color: #464632;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		background: 0 0;
	}


	.widget .navsocial a i{
		color: #464632;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		background: 0 0;
	}

	.widget .navsocial a i:hover{
		background-color: #6c757d;
	}

	.widget ul li a {
		list-style-type: none;
		text-decoration: none;
		list-style: none;
	}
	

	.widget ul li a:hover{
		color: #dc3545;
	}


	.footer-copy {
		/* margin-top: 30px; */
		border-top: 1px solid #000;
		padding: 15px 0;
		text-align: center;
	}
/* .navsocial  .fa-twitter{
	color: gray !important;
}

.navsocial  .fa-facebook-f{
	color: #0800ff !important;
}
.navsocial  .fa-instagram{
	color: #5e180e;
}
.navsocial  .fa-youtube {
	color: red;
} */

.aboutFooter{
	background-color: #eaeaea;
	
}
	.bg-light{
		font-family: "Metropolis";
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */




/******************
Faq Design
*******************/


.navbar a i{
	display: none;
	color: white;
}


.navbar-stick:not(.navbar-dark) {
    box-shadow: 0 0 1.25rem rgba(30,34,40,.06);
    background: rgba(255,255,255,.97);
}
.navbar-stick {
    transform: translateY(0);
}
.navbar-clone {
    position: fixed!important;
    z-index: 1008;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .3s ease-in-out,padding-right 0s;
}
.navbar {
    width: 100%;
    z-index: 1020;
}
.position-absolute {
    position: absolute!important;
}
@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;

}}

@media (min-width: 1200px){
	.container {
		max-width: 1440px;
	}

	/* .navsocial  .fa-twitter{
		color: #007aff;
	}
	
	.navsocial  .fa-facebook-f{
		color: #0800ff;
	}
	.navsocial  .fa-instagram{
		color: #5e180e;
	}
	.navsocial  .fa-youtube {
		color: red;
	} */
}

/* @media (min-width: 1400px)
{
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1440px;
	}
}
@media (min-width: 1200px)
{
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1140px;
	}
}
@media (min-width: 992px)
{
	.container, .container-lg, .container-md, .container-sm {
		max-width: 960px;
	}
}
@media (min-width: 768px)
{
	.container, .container-md, .container-sm {
		max-width: 720px;
	}
}
@media (min-width: 576px)
{
	.container, .container-sm {
		max-width: 540px;
	}
} */



@media (max-width: 992px)

{

	.header .container .row {
		margin-top: -70px;
	}
	


	.container .row .image-containerhome img{
		display: none;

	}

	.container .row .text-container a{
		display: none;
	}

	.widget ul li a{
		list-style: none;
		text-decoration: none;
		list-style-type: none;
	}

	nav .collapse ul li a{
		list-style: none;
		text-decoration: none;
		list-style-type: none;
	}


	/* .navsocial  .fa-twitter{
		color: #007aff;
	}
	
	.navsocial  .fa-facebook-f{
		color: #0800ff;
	}
	.navsocial  .fa-instagram{
		color: #5e180e;
	}
	.navsocial  .fa-youtube {
		color: red;
	} */
}


@media (max-width: 430px)
{

	

.downloadApp  .downloadAppIcon{
	margin-top: 20px;
	align-items: center;
	
}

.downloadAppIcon{
	width: 160px;
}
}

@media (max-width: 400px)

{
	


	.container .row .text-container  img{
		width: 450px;
		margin-top: 40px;

	}
	
	

	/* .navsocial  .fa-twitter{
		color: #007aff;
	}
	
	.navsocial  .fa-facebook-f{
		color: #0800ff;
	}
	.navsocial  .fa-instagram{
		color: #5e180e;
	}
	.navsocial  .fa-youtube {
		color: red;
	} */

	
} 




@media (max-width: 350px)
{
	.container .row .text-container  img{
		width: 250px;
		margin-top: 40px;

	}

	figure img{
width: 300px;
		/* height: 200px; */
	}

	.submitBtn{
		align-items: center;
	}

	.submitBtn .btn-blue{

		display: flex;
		padding: 10px;
		width: 200px;
	}

	/* .navsocial  .fa-twitter{
		color: #007aff;
	}
	
	.navsocial  .fa-facebook-f{
		color: #0800ff;
	}
	.navsocial  .fa-instagram{
		color: #5e180e;
	}
	.navsocial  .fa-youtube {
		color: red;
	} */
} 




@media (max-width: 300px)
{
	.container .row .text-container  img{
		width: 250px;
		margin-top: 40px;

	}

	.MindblowingContainer .container .row .MindblowingImag{
		width: 50px;
		margin-top: 40px;

	}

	
	/* .navsocial  .fa-twitter{
		color: #007aff;
	}
	
	.navsocial  .fa-facebook-f{
		color: #0800ff;
	}
	.navsocial  .fa-instagram{
		color: #5e180e;
	}
	.navsocial  .fa-youtube {
		color: red;
	} */
	

	
} 




@media  (max-width:530px){

	.header .row .image-container {
		display: none;
	}
	.header44{
		height: 800px;
	}

/* .container .text-container {
	height: 300px;
	padding-top: 0rem;
  } */

.content{
	margin-top: -30px;
}

  .text-container  .p-large{
	padding: 0px 20px;
text-align: left;

  }

  .container .row .text-container  img{
	width: 300px;
	margin-top: 40px;

}

.MindblowingContainer .container .row .MindblowingImag{

	padding-left: 40px;
	align-items: center;
}
.MindblowingContainer .container .row .image-container img{
	
	padding: 40px;
align-items: center;
}

.Survey{
	padding: 50px 40px;
}

}

@media (min-width: 576px)
{
	.widget .newsletter-wrapper .mc_embed_signup2{
		margin-bottom: 40px;
	}

	/* .navsocial  .fa-twitter{
		color: #007aff;
	}
	
	.navsocial  .fa-facebook-f{
		color: #0800ff;
	}
	.navsocial  .fa-instagram{
		color: #5e180e;
	}
	.navsocial  .fa-youtube {
		color: red;
	} */
} 




.content-wrapper {
    flex-grow: 1;
}
.content-wrapper, footer {
    flex-shrink: 0;
}
* {
    word-spacing: normal !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.counter-wrapper p, .lead, .nav-tabs.nav-tabs-bg .nav-link p, blockquote, body {
    font-weight: 400;
}
body {
    font-family: "Space Grotesk", sans-serif;
    font-size: .85rem;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-spacing: 0.05rem;
    overflow-x: hidden!important;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --animate-delay: 0.5s;
}
:root {
    font-size: var(--bs-root-font-size);
}
:root {
    --bs-gray-100: #fefefe;
    --bs-gray-200: #f6f7f9;
    --bs-gray-300: #cacaca;
    --bs-gray-400: #aab0bc;
    --bs-gray-500: #959ca9;
    --bs-gray-600: #60697b;
    --bs-gray-700: #2f353a;
    --bs-gray-800: #21262c;
    --bs-gray-900: #1e2228;
    --bs-blue: #3f78e0;
    --bs-sky: #5eb9f0;
    --bs-purple: #747ed1;
    --bs-grape: #605dba;
    --bs-violet: #a07cc5;
    --bs-pink: #d16b86;
    --bs-fuchsia: #e668b3;
    --bs-red: #e2626b;
    --bs-orange: #f78b77;
    --bs-yellow: #fab758;
    --bs-green: #45c4a0;
    --bs-leaf: #7cb798;
    --bs-aqua: #54a8c7;
    --bs-navy: #343f52;
    --bs-ash: #9499a3;
    --bs-white: #fff;
    --bs-light: #fefefe;
    --bs-gray: #f6f7f9;
    --bs-dark: #262b32;
    --bs-primary: #3f78e0;
    --bs-secondary: #aab0bc;
    --bs-success: #45c4a0;
    --bs-info: #54a8c7;
    --bs-warning: #fab758;
    --bs-danger: #e2626b;
    --bs-blue-rgb: 63,120,224;
    --bs-sky-rgb: 94,185,240;
    --bs-purple-rgb: 116,126,209;
    --bs-grape-rgb: 96,93,186;
    --bs-violet-rgb: 160,124,197;
    --bs-pink-rgb: 209,107,134;
    --bs-fuchsia-rgb: 230,104,179;
    --bs-red-rgb: 226,98,107;
    --bs-orange-rgb: 247,139,119;
    --bs-yellow-rgb: 250,183,88;
    --bs-green-rgb: 69,196,160;
    --bs-leaf-rgb: 124,183,152;
    --bs-aqua-rgb: 84,168,199;
    --bs-navy-rgb: 52,63,82;
    --bs-ash-rgb: 148,153,163;
    --bs-white-rgb: 255,255,255;
/* Show All Properties (106 more) */
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.newHeader {
	color: white;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	background-color: #103462;
	background-image: url("../images/headerArrowBackground.svg");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.newHeader h1, h3 {
	color: inherit;
	text-align: left;
	/* margin-bottom: 52px; */
}

/* .newHeader h1 {
	font-size: 46px;
} */

#headerTitleAccent {
	color: #F4AE34;
}

.newHeaderContentContainer {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.newHeaderImageContainer {
	/* max-width: 540px; */
	/* background-color: red; */
	flex-grow: 1;
	min-width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newHeaderImageContainer img {
	/* position: relative; */
	/* scale: 1.2; */
	/* top: -2rem; */
	width: 100%;
	height: 100%;
}


.responsiveTitle {
	font-size: clamp(2.0275rem, 0.3775rem + 4.5833vw, 3rem) !important;
	line-height: calc(1.2 * clamp(2.0275rem, 0.3775rem + 4.5833vw, 3rem)) !important;
	margin-bottom: calc(.2 * (0.3775rem + 4.5833vw)) !important;
	/* max-width: 70%; */
}

.responsiveTitleSmall {
	font-size: clamp(2rem, 0.3775rem + 2.6vw, 2.5rem) !important;
	line-height: calc(1.2 * clamp(2rem, 0.3775rem + 2.6vw, 2.5rem)) !important;
	margin-bottom: calc(.6 * (0.3775rem + 5.6vw)) !important;
	margin-top: calc(.6 * (0.3775rem + 5.6vw)) !important;

}

.responsiveDescription {
	font-size: clamp(1rem, 0.653rem + .961vw, 1.375rem) !important;
	line-height: calc(1.2 * clamp(1rem, 0.653rem + .961vw, 1.375rem)) !important;
	margin-bottom: calc( .4 * (0.3775rem + 4.5833vw)) !important;
	/* opacity: 0.6; */
	/* max-width: 70%;	 */
	font-weight: 200px;
}

.surveyDesc{
	text-decoration: none;
	list-style-type: none;
	font-family: Metropolis;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
opacity: 0.6;
}

.surveyDesc1{
	font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
}

/* ---------------- */
h2 {
	margin-bottom: 52px;
	line-height: 55px;
}

.TitleAccent {
	color: #4F8F45;
}

/* ================== */
.mindBlownContainer {
	background-color: #EDF4EC;
	background-image: url("../images/ArrowDark.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.mindBlowingHeading {
	font-size: 62px;
	line-height: 63px;
}

.mindBlownGifContainer {
	background-image: url("../images/76204-confetti-animation.gif");
}

.globalPadding {
	padding: 8rem 10rem;
	/* padding-bottom: 0; */
}

.gifDesktop {
	display: flex;
}

.gifMobile {
	display: none;
}

::-webkit-input-placeholder { /* Edge */
	color: #000000 !important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #000000 !important;
  }
  
  ::placeholder {
	color: #000000 !important;
  }

 

@media (max-width: 1200px) {
	.navbar a i{
		display: none;
		
	}
	.navbar .container a i{
		display: none;
	}
	.globalPadding {
	  padding: clamp(3rem, 4vw, 8rem);
	}

	/*******About Us*****/
	.globalPadding1 {
		padding: clamp(3rem, 4vw, 8rem);
	  }
  }

  @media (max-width: 985px) {
	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
		
	}

	.navbar a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}
	
  }

@media screen and (max-width: 900px) {
	
	.menu-button-container {
		display: flex;
	}
	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}

	.navbar a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}
	.newHeaderImageContainer {
		display: none;
	}
	.newHeaderContentContainer {
		align-items: center;
	}
	.newHeaderContentContainer h1, h3 {
		text-align: left !important;
	}

	.submitBtn{
		display: flex;
	}
}


@media screen and (max-width: 980px) {
	.submitBtn{
		display: flex;
	}

	.form-check-label{
		font-size: 12px;
	}

	.responsiveDescription{
		margin-top: 40px;
	}
	.ImageContainer img{
		margin-top: 40px;
	}

	
}
	

@media screen and (max-width: 767px) {
	
	.gifDesktop {
		display: none;
	}

	.gifMobile {
		display: flex;
	}
	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}


	.navbar a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}
	#JoinAndEarnTitle {
		text-align: center;
	}

	.mindBlownContainer {
		flex-direction: column;
	}

	/* .downloadAppIcon {
		scale: .8;
	} */

	.btn-groups{
		justify-content:center;
		

	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	  }
	  
	  .grid-item {
	
		
		
		text-align: center;
	  }

	/* .row .col-lg-3 .rounded-xl{
		display: grid;
  grid-template-columns: 300px 1fr;
	}

	 */
}

@media screen and (max-width: 600px) {

	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}

	.navbar a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}
	.gifDesktop {
		display: none;
	}

	.gifMobile {
		display: flex;
	}

	/* .DesktopHumburger{
		display: none;
	}

	.MobileHumburger{
		display: flex;
	} */

	.containerFaq .card-img-overlay .card-text{
 padding: 20px;
 font-size: 0px;
	
}


@media screen and (max-width: 450px) {

	.btn-groups .btn-blue{
		display: none;
	}


	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}

	.navbar a i{
		
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}
	.gifDesktop {
		display: none;
	}

	/* .gifMobile {
		display: flex;
	} */

	/* .mobielHandImage img {
		width: 300px;
	}
	 */

	 .btn-groups{
		display: flex;
		flex-direction: column;
		align-items: start;
		
	 }

	 /* .btn-groups .btn-black{
		padding: 15px 44px;
	 } */


}


@media screen and (max-width: 475px) {
	.gifDesktop {
		display: none;
	}

	.mobielHandImage img {
		width: 200px;
	}

	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}

	.navbar a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}

	.containerFaq .card-img-overlay .card-text{
		padding: 20px;
		font-size: 0px;
		   
	   }
	}	   
}




@media screen and (max-width: 340px) {
	.navbar .container a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}

	.navbar a i{
		display: flex;
		flex-direction: row;
		font-size: 30px;
	}
	.gifDesktop {
		display: none;
	}

	.mobielHandImage img {
		width: 200px;
	}

	
}

/* ----------- */

.ImageContainer {
	flex-grow: 1;
	min-width: 40%;
	display: flex;
	
	justify-content: center;
	align-items: center;
}

.ImageContainer img {
	width: 100%;
	height: 100%;
}



/*************Terms and conditions Style************/

.globalPadding3{
	padding: 8px 10rem;

}

.globalPadding3 nav{
	padding: 20px;
}

.globalPadding .termsandcondtions{
	padding: 60px;
}

.globalPadding1 .navbar4{
	background: none;
	
}

.mainsubdiv .termsandcondtions{
	font-size: 2em;
    font-weight: 700;

    margin: 10px 0;
    color: #464646;
    text-align: left !important;

}

 .navbar4{
	font-weight: 600;
	font-size: 0.875rem;
	/* height: 760px; */
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.10);
}

/* .navbar4 .navbar-nav {
	
	margin-bottom: 1.5rem;
} */

.navbar4 .nav-item .nav-link {
	/* padding-top: 0.625rem;
	padding-bottom: 0.625rem; */
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	/* transition: all 0.2s ease; */
}

.navbar4 .nav-item .btn-solid-lg{
	background-color: #a7351e;
	border-radius: 10px;
	padding: 15px 35px;
}

.mainsubdiv h4{
	font-size: 22px;
	font-family: "Metropolis";
    color: #15273e;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
}

.mainsubdiv p{
	font-size: 1.2em;
    font-weight: 400;
    line-height: 28px;
    color: #444;
    margin-bottom: 10px;
    font-family: "Metropolis"
}



/**********Footer***********/

.footer {
    z-index: 100;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #eaeaea;
    position: relative;
}

.social-icons{
	display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
    list-style-type: none;
    margin-left: 0;
    margin-right: rem;

}


.globalPadding p {
    color: #5e6576;
    font: 400 1rem/1.625rem "Metropolis";
}

.widget ul li a{
	list-style-type: n;
}











